@charset "utf-8";
/* CSS Document */
/*a k@lamity css*/

/* Div Id*/
/*Header Div*/
#topmenu{
    display: flex;
}

/*Main Content*/
#content {
    margin-top:25px;
    display: flex;
    flex-direction: row;
}

/*Left Menu*/
#leftmenu{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

#pug{
    height: 220px;
    width: 200px;
    background-image: url("pug.gif");
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    font-family: sans-serif;
    font-size: 12px;
}

#pug:hover{
    animation:yop 0.3s ease infinite;
}

#trending{
    margin-top: 20px;
}

/*Right Content Div*/
#main{
display: flex;
flex-direction: column;
}

#row1{
display: flex;
flex-direction: row;
}

#row1 img{
    margin :5px;
    border-bottom : 2px solid #00CFB7;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}
#row1 img:hover{
 transform:scale(1) ;
 transform: rotate(45deg);
 border: 2px solid #00CFB7;
}

#row2{
    display: flex;
    flex-direction: row;
}

#row2 img{
    margin :5px;
    border-bottom : 2px solid #D040A5;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}
#row2 img:hover{
transform: rotate(-45deg);
border: 2px solid #D040A5;
}

/*Columns*/
#allGifs{
    margin-top : 10px;
    display: flex;
    flex-direction: row ;

}

#column1 #column2 #column3{
    display:flex;
    flex-direction: column;
}

#column3 img{
    margin :5px;
    border-bottom : 2px solid rgb(69, 208, 64);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}
#column3 img:hover{
    transform:rotateY(180deg);
    border: 2px solid rgb(69, 208, 64);
}

#column1 img{
    margin :5px;
    border-bottom : 2px solid rgb(198, 208, 64);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}
#column1 img:hover{
    border: 2px solid rgb(198, 208, 64);
    transform:rotateX(180deg);
 }
#column2 img{
    margin :5px;
    border-bottom : 2px solid rgb(208, 64, 71);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}
 #column2 img:hover{
    border: 2px solid rgb(208, 64, 71);
    transform: rotateY(360deg);
 }

/*Searchbars*/
#searchbig {
    background-color: #ffffff;
    color: #777777;
    height : 80px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    align-content: stretch;

}

#searchbig input[type="search"]{
    background-color: #ffffff;
    color: #777777;
    border:none;
    font-family: 'Open Sans Condensed',sans-serif;
    text-align: left;
    font-size: 18px;
    font-weight : bold;
    letter-spacing: 1px;
    padding : 0 0 0 5px;
}

#searchbig span:nth-of-type(1){
    font-family: 'Open Sans Condensed',sans-serif;
    text-align: left;
    font-size: 18px;
    font-weight : bold;
    letter-spacing: 1px;
    padding-top: 15px;
    padding-left: 10px;
}

#searchbig span:nth-of-type(2){
    background-image:linear-gradient(to right,#e646b6,#a646e6);
    padding: 21px;
}

#searchsmall{
    border-bottom: 2px solid #808080;
    padding-bottom : 40px;
    margin-top: 40px;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    align-content: stretch;
}
#searchsmall input[type="text"]{
    border: none;
    background-color: transparent;
    font:inherit;
    padding: 0;
    margin: 0;

}

#searchsmall span:nth-of-type(1){
    border: 1px solid #808080;
    font-size: 12px;
    margin : auto;
    padding:6px;
    text-align: left;
    flex-grow:1;
}

#searchsmall span:nth-of-type(2){
    background-color: #808080;
    margin: auto;
    padding:5px;
}

/*Decorations*/
body{
    background-color: #121212;
    color: #ffffff;
    font-weight: normal;
    margin: 10px auto 100px auto;
    min-height: 500px;
    width: 1040px;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction:column;
    margin : 15px 5px 0 0;
}

a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 7px;
    padding : 0 10px 0 10px;
    color: white;
    text-decoration: none;
    height: 36px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
li{
    font-family: 'Heebo', sans-serif;
    text-align: left;
    font-size: 14px;
    list-style: none;
    font-stretch: 1px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: -25px;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 900;
    letter-spacing:2px;
    word-spacing: 3px;
    margin:0;
    padding : 0;

}

h3{
font-family: 'Roboto', sans-serif;
text-align: left;
font-size: 14px;
font-weight: 900;
font-style: small-caps;
line-height: 1.8px;
letter-spacing:2px;
}
.neonblue{
    border-bottom: 3px solid #00CCFF;
}

.neonblue:hover{
    background-image:linear-gradient(to right,#0cf,#e646b6);
}

.neonpink{
    border-bottom : 3px solid #e646b6;
}

.neonpink:hover{
    background-image:linear-gradient(to right,#e646b6,#a646e6);
}

.neonpurple{
    border-bottom : 3px solid #a646e6;
}

.neonpurple:hover{
    background-image:linear-gradient(to right,#a646e6,#46e69b);
}

.neongreen{
    border-bottom : 3px solid #46e69b;
}

.neongreen:hover{
    background-image:linear-gradient(to right,#46e69b,#dbe646);
}

.neonyellow{
    border-bottom : 3px solid #dbe646;
}

.neonyellow:hover{
    background-image:linear-gradient(to right,#dbe646, #e68e46);
}

.upload{
    background-color: #7066FF;
    border-bottom : 3px solid #7066FF;
}

.create{
    background-color: #7066FF;
    border-bottom : 3px solid #7066FF;
}

.login{
    background-color:#525252;
    width: 75px;

}

.login span{
    height: inherit;
    background-color:  #3E3E3E;
    width: 60px;
    margin-left: 5px;
    padding-top: 7px;
    text-align: center;

}

/*Animations*/
@keyframes yop{
    from {transform: translateY(0);}
    to   {transform: translateY(-50px);}
}