#logo{
    img{
        max-width: 90px;
    }
display: flex;
justify-content: center;
}

#header{
    background-color: #f8f9fa;
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey;
    border-right: 1px solid $grey;
    border-left: 1px solid $grey;

}

#nav{
    display:flex;
    align-items: flex-start;
    justify-content: center;
}

#footer{
    background-color: #f8f9fa;
    display:flex;
    justify-content: space-between;
    border-top: 1px solid $grey;
    border-right: 1px solid $grey;
    border-left: 1px solid $grey;
    h1{
        font-family: $font;
        font-size: 22px;
    }
}