//generic class for the warpper of each section
.section{
    margin:20px 0 0 10px;
    font-family: $font;
    color: $black;
}


//generic class for the title of each section
.title{
h1{
    font-family: $font;
    color: $black;
    text-align: center;
} 
h2{
  font-family: $font;
  color: $black;
  text-align: center;
} 
h3{
  font-family: $font;
  color: $black;
  text-align: center;
} 

a{
  color: $black;
  text-decoration: none;
  
    &:link{
      color: $black;
      text-decoration: none;
    }
    &:hover{
      color: $black2;
      text-decoration: none;
    }
  }

}


//About section

.about{
  margin-top : 1em;
  text-align: center;
  line-height:1.5;
  margin: 0;
  padding: 0;
  img {
    height: 100px;
    width: 100px;
  }
  a{
    margin: 10px;
}
}
.social{
  margin: 0.5em;
}

//Skill section
.skillframe{
  border : 1px solid $grey;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  margin : 10px;
  padding: 5px;
  width : 70%;
  box-shadow: 0px 0px 7px #e0e0e0;
    transition: 0.3s ease;
    &:hover{
      box-shadow: 1px 1px 10px #666;
      margin: 10px;
    }
}
.skill{
    i {
        font-size: 3rem; }
        color: $black;
        margin : 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level{
    i {
        font-size: 0,5rem; }
}

//Portfolio section
.box {
    margin : 10px;
    height: 16rem;
    box-shadow: 0px 0px 7px #e0e0e0;
    transition: 0.3s ease;
    &:hover{
      box-shadow: 1px 1px 10px #666;
      margin: 10px;
    }
    h5{
        font-size: 16px;
        padding: 0;
      margin: 0;
      &:hover{
        text-decoration: underline;
      }
    }
    a{
      font-family: $font;
      color: $black;
      &:link{
        color: $black;
        text-decoration: none;
      }
      &:hover{
        color: $black2;
      }
    }
    p{
      padding: 0;
      margin: 0;
      font-family: $fontl;
      font-size: 12px;
      font-weight: lighter;
    }

  }

