/*--------------Tag's Style-----------------------------*/

* {
    box-sizing: border-box;
    font-family: "Marko One", serif;
}

body {
    margin: 0;
    padding: 0;
}

body {
    background: repeating-linear-gradient( to right, #f6ba52, #f6ba52 10px, #ffd180 10px, #ffd180 20px);
}

h1 {
    text-align: center;
    font-family: "Molle", cursive;
    font-size: 32px;
    margin: auto;
    padding: auto;
}


/*--------------Div's Style-----------------------------*/

.wraperWraper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
}

.wraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    width: 530px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: -1.5px;
    line-height: 35px;
    background-color: #ffd180;
    border: 2px solid #f6ba52;
    border-radius: 12px;
    width: 20%;
}


/*--------------box's Style-----------------------------*/

.box {
    height: 128px;
    width: 128px;
    border: 1px solid #c5c5c57a;
    box-shadow: 3px 3px #5c5c5c7a;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px auto;
}

.box:hover,
.box:active {
    transform: scale(0.9, 0.9);
    transform-origin: center;
}

.hidden {
    background-image: none !important;
}

.selected {
    background-color: #ffd180;
}

.match {
    background-color: rgb(196, 94, 196);
}


/*---------Button---------------------*/

.button {
    font-size: 32px;
    color: rgb(56, 50, 50);
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.button:hover {
    color: white;
}


/*------------Win/Lose Message----------*/

#youWin {
    position: absolute;
    top: 27%;
    left: 31%;
    height: 46%;
    width: 38%;
    background-image: url(https://media.giphy.com/media/3oEjI5VtIhHvK37WYo/giphy.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f6ba52;
    border: 3px solid #ffd180;
    display: none;
    justify-content: center;
    align-content: center;
    text-align: left;
    margin: auto;
}

#youLose {
    position: absolute;
    top: 27%;
    left: 31%;
    height: 46%;
    width: 38%;
    background-image: url(https://media.giphy.com/media/10h8CdMQUWoZ8Y/giphy.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f6ba52;
    border: 3px solid #ffd180;
    display: none;
    justify-content: center;
    align-content: center;
    text-align: left;
    margin: auto;
}