html {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a {
  font-family: "Varela Round", sans-serif; }

#logo {
  display: flex;
  justify-content: center; }
  #logo img {
    max-width: 90px; }

#header {
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DEDFDF;
  border-right: 1px solid #DEDFDF;
  border-left: 1px solid #DEDFDF; }

#nav {
  display: flex;
  align-items: flex-start;
  justify-content: center; }

#footer {
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #DEDFDF;
  border-right: 1px solid #DEDFDF;
  border-left: 1px solid #DEDFDF; }
  #footer h1 {
    font-family: "Varela Round", sans-serif;
    font-size: 22px; }

.section {
  margin: 20px 0 0 10px;
  font-family: "Varela Round", sans-serif;
  color: #555555; }

.title h1 {
  font-family: "Varela Round", sans-serif;
  color: #555555;
  text-align: center; }

.title h2 {
  font-family: "Varela Round", sans-serif;
  color: #555555;
  text-align: center; }

.title h3 {
  font-family: "Varela Round", sans-serif;
  color: #555555;
  text-align: center; }

.title a {
  color: #555555;
  text-decoration: none; }
  .title a:link {
    color: #555555;
    text-decoration: none; }
  .title a:hover {
    color: #1d1d1d;
    text-decoration: none; }

.about {
  margin-top: 1em;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  padding: 0; }
  .about img {
    height: 100px;
    width: 100px; }
  .about a {
    margin: 10px; }

.social {
  margin: 0.5em; }

.skillframe {
  border: 1px solid #DEDFDF;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  margin: 10px;
  padding: 5px;
  width: 70%;
  box-shadow: 0px 0px 7px #e0e0e0;
  transition: 0.3s ease; }
  .skillframe:hover {
    box-shadow: 1px 1px 10px #666;
    margin: 10px; }

.skill {
  color: #555555;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .skill i {
    font-size: 3rem; }

.level i {
  font-size: 0,5rem; }

.box {
  margin: 10px;
  height: 16rem;
  box-shadow: 0px 0px 7px #e0e0e0;
  transition: 0.3s ease; }
  .box:hover {
    box-shadow: 1px 1px 10px #666;
    margin: 10px; }
  .box h5 {
    font-size: 16px;
    padding: 0;
    margin: 0; }
    .box h5:hover {
      text-decoration: underline; }
  .box a {
    font-family: "Varela Round", sans-serif;
    color: #555555; }
    .box a:link {
      color: #555555;
      text-decoration: none; }
    .box a:hover {
      color: #1d1d1d; }
  .box p {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: lighter; }

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; }
    .glide__slides--dragging {
      user-select: none; }
  .glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: initial;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; }
    .glide__slide a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none; }
  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide__bullets {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide--rtl {
    direction: rtl; }

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1; }
  .glide__arrow:focus {
    outline: none; }
  .glide__arrow:hover {
    border-color: white; }
  .glide__arrow--left {
    left: 2em; }
  .glide__arrow--right {
    right: 2em; }
  .glide__arrow--disabled {
    opacity: 0.33; }

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%); }

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em; }
  .glide__bullet:focus {
    outline: none; }
  .glide__bullet:hover, .glide__bullet:focus {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5); }
  .glide__bullet--active {
    background-color: white; }

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }
