/*Display*/

.container {
    display: flex;
}

.rules {
    color: #777777;
    font-size: 16px;
    font-family: 'Audiowide', cursive;
    font-weight: normal;
}

.rules li {
    color: white;
    font-size: 14px;
    font-family: 'Audiowide', cursive;
    list-style-type: none;
    line-height: 25px;
    text-align: left;
}

.frame {
    display: flex;
    /* border: rgb(3, 7, 58) 2Px solid;
    border-top: none; */
}

.column1,
.column2,
.column3,
.column4,
.column5,
.column6,
.column7,
{
    display: flex;
    flex-direction: row;
}

.square {
    height: 75px;
    width: 75px;
    background-color: #228DFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.surbouton1 {
    height: 25px;
    width: 73px;
    background: #ff00c9;
    border: 1px solid white;
    border-bottom: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    cursor: pointer;
}

.chapeau {
    text-align: center;
    transform: rotate(180deg);
}

.surbouton:hover .frame .column1 .square {
    background-color: black;
}

.chapeau:hover {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.surbuton {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.token,
.token1,
.token2,
.token3,
.token4,
.token5,
.token6,
.token7 {
    height: 70Px;
    width: 70Px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 100%;
}

.token1.p,
.token2.p,
.token3.p,
.token4.p,
.token5.p,
.token6.p,
.token7.p {
    height: 70Px;
    width: 70Px;
    background-color: magenta;
    border-radius: 100%;
    animation: entrance1 2S ease-in-out;
}

.token1.ip,
.token2.ip,
.token3.ip,
.token4.ip,
.token5.ip,
.token6.ip,
.token7.ip {
    height: 70Px;
    width: 70Px;
    background-color: black;
    border-radius: 100%;
    animation: entrance1 1.3S ease-in-out;
}

@keyframes entrance1 {
    0% {
        transform: translateY(-600%);
        opacity: 0.2;
        background: white;
    }
    100% {
        transform: translateY(0%);
    }
}

.leftcontainer {
    width: 65%;
    margin: auto;
    padding: 2%;
    background-image: linear-gradient(to right, rgba(196, 49, 120, 0.596) 0%, rgba(34, 144, 255, 0.459) 100%);
    border-radius: 8px;
    text-align: center;
}

.leftcontainer input[type="text"] {
    background-color: #ffffff;
    color: #777777;
    border-radius: 8px;
    border: 2px solid rgba(82, 79, 79, 0.815);
    font-family: 'Audiowide', cursive;
    text-align: left;
    font-size: 18px;
    letter-spacing: 1px;
    height: 45px;
    padding: 2px 0 2px 4px;
}

.rightcontainer {
    margin-left: 30%;
    width: 42%;
}

.rightcontainer1 {
    width: 30%;
    margin-top: 8%;
}

.playersname {
    display: flex;
    flex-direction: row;
}


/*Deco*/

h1 {
    text-align: center;
    font-size: 4em;
    margin: 20px 0 20px 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
}

h1 a {
    color: #228DFF;
    font-family: 'Iceland', cursive;
    font-size: 1.5em;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

h1 a:hover {
    animation: none;
}


/*button animation*/

.btn-class {
    display: inline-block;
    border: 2px solid #992A70;
    color: #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    font-family: 'Audiowide', cursive;
    width: auto;
    height: auto;
    font-size: 21px;
    padding: 10px 54px;
    box-shadow: inset 0 1px 0 0 #CF3998, inset 0 -1px 0 0 #BA3389, inset 0 0 0 1px #731F54, 0 2px 4px 0 #360F28;
    -moz-box-shadow: inset 0 1px 0 0 #CF3998, inset 0 -1px 0 0 #BA3389, inset 0 0 0 1px #731F54, 0 2px 4px 0 #360F28;
    -webkit-box-shadow: inset 0 1px 0 0 #CF3998, inset 0 -1px 0 0 #BA3389, inset 0 0 0 1px #731F54, 0 2px 4px 0 #360F28;
    text-shadow: 0 1px 0 #4A4A4A;
    background-image: linear-gradient(to bottom, #CF3998, #C96161);
    background-color: #CF3998;
}

.btn-class:hover,
.btn-class:active {
    border: 2px solid #992A70;
    color: #FFFFFF;
    box-shadow: 2px 2px 0 0 #360F28, inset 0 -1px 0 0 #731F54, inset 0 0 0 1px #BA3389;
    -moz-box-shadow: 2px 2px 0 0 #360F28, inset 0 -1px 0 0 #731F54, inset 0 0 0 1px #BA3389;
    -webkit-box-shadow: 2px 2px 0 0 #360F28, inset 0 -1px 0 0 #731F54, inset 0 0 0 1px #BA3389;
    background-color: #CF3998;
}


/*Animation*/

@keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(34, 141, 255), 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
}

.form_demo {
    widows: 35%;
    margin-bottom: 20px;
}

.inputbasic {
    padding: 5px;
    border-radius: 20px;
    border: 2px solid grey;
}

.inputbasic:hover {
    background-color: rgb(170, 170, 170);
}

.inputbasic:focus {
    color: white;
}

.form_demo input[type=button] {
    background-color: rgb(4, 160, 160);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    BORDER: 1PX SOLID black;
    padding: 10px;
    width: 30%;
    transition: all 0.5s ease;
}

.form_demo input[type=button]:HOVER {
    background-color: rgb(207, 57, 152);
    border-radius: 20px;
}

.rightcontainer1 {
    width: 30%;
    margin-top: 8%;
}

.credits {
    font: normal normal bold 25px/normal "Atomic Age", Helvetica, sans-serif;
    color: rgb(64, 126, 196);
    text-align: center;
    text-shadow: 1px 1px 0 rgb(77, 162, 252), -1px -1px 0 rgb(77, 162, 252), 1px -1px 0 rgb(77, 162, 252), -1px 1px 0 rgb(77, 162, 252), 4px 4px 8px rgb(44, 88, 137), -4px 4px 8px rgb(44, 88, 137), 4px -4px 8px rgb(44, 88, 137), -4px -4px 8px rgb(44, 88, 137);
}

.footer {
    width: 30%;
    height: 70px;
    margin-top: 1%;
    overflow: hidden;
    margin-left: 35%;
    margin-bottom: 5%;
    transform: perspective(100px) rotateX(30deg);
}

.credititle {
    font: normal normal bold 25px/normal "Atomic Age", Helvetica, sans-serif;
    color: rgb(64, 126, 196);
    text-align: center;
    text-shadow: 1px 1px 0 rgb(77, 162, 252), -1px -1px 0 rgb(77, 162, 252), 1px -1px 0 rgb(77, 162, 252), -1px 1px 0 rgb(77, 162, 252), 4px 4px 8px rgb(44, 88, 137), -4px 4px 8px rgb(44, 88, 137), 4px -4px 8px rgb(44, 88, 137), -4px -4px 8px rgb(44, 88, 137);
}

.credits {
    animation: linear defil 10s infinite;
}

@keyframes defil {
    0% {
        transform: translateY(2%);
    }
    99.99% {
        transform: translateY(-100%);
    }
}

#page1 {
    background-image: url("assets/fondindex.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#page2 {
    background-image: url("assets/fond.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#players {
    position: absolute;
    top: 40%;
    left: 10%;
    margin: auto;
    padding: 2%;
    background-color: rgba(77, 162, 252, 0.6);
    border-radius: 2%;
}

.p_name1 {
    margin: 0;
    color: #ff00c9;
    font-family: 'Iceland', cursive;
    font-size: 1.5em;
}

.p_name1.pa {
    margin: 0;
    color: #ff00c9;
    font-family: 'Iceland', cursive;
    font-size: 1.5em;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

.p_name2 {
    margin: 0;
    color: rgb(26, 27, 27);
    font-family: 'Iceland', cursive;
    font-size: 1.5em;
}

.p_name2.pp {
    margin: 0;
    color: rgb(26, 27, 27);
    font-family: 'Iceland', cursive;
    font-size: 1.5em;
    animation: neon2 1.5s ease-in-out infinite alternate;
}
